.title-container {
    display: flex;
    justify-content: center;
}

#title {
    border: 2px solid black;
    padding: 1% 5%;
}

.menu-container {
    display: flex;
    justify-content: center;    
    margin: 16px;

}

.newButton {
    background-color: teal;
    font-size: 24px;
    border-radius: 8px;
    color: white;
    padding: 10px 24px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 50rem;
    height: 50rem;
    margin: auto;
    border-style: ridge;
    border-width: 4px;
    border-color: black;
}

.pixel {
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
}

.black {
    background-color: black;
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
}