.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.flex-container > div {
    flex: 1 0 21%;
    border-style: dotted;
    border-width: 1px;
    border-color: black;
    width: 25%;
    height: 0;
    padding-bottom: 25%;
}


.black {
    background-color: black;
}

.newButton {
    margin: auto;
}